<h1 class="styling-color">Slider</h1>
<p class="sub-content">
  Sliders allow users to view and select a value (or range) in the range along a
  bar.It is used for sound in videos, price in shopping sites etc.
</p>
<h2>Example of slider</h2>
<div class="outline">
  <div class="slider-container">
    <input type="range" min="0" max="100" value="20" class="slider" />
  </div>
</div>

<iframe
  src="https://carbon.now.sh/embed?bg=rgba%28171%2C+184%2C+195%2C+1%29&t=night-owl&wt=none&l=htmlmixed&width=727&ds=true&dsyoff=20px&dsblur=68px&wc=true&wa=false&pv=56px&ph=56px&ln=false&fl=1&fm=Hack&fs=14px&lh=133%25&si=false&es=2x&wm=false&code=%2520%253Cdiv%2520class%253D%2522slider-container%2522%253E%250A%2520%2520%2520%2520%2520%2520%253Cinput%2520type%253D%2522range%2522%2520min%253D%25220%2522%2520max%253D%2522100%2522%2520value%253D%252220%2522%2520class%253D%2522slider%2522%252F%253E%250A%2520%2520%253C%252Fdiv%253E"
  class="code-example" loading="lazy"
  sandbox="allow-scripts allow-same-origin"
>
</iframe>
