.button {
    padding: 0.5rem 0.7rem;
    border-radius: 0.3rem;
    color: var(--light-color);
    cursor: pointer;
  }
  .primary-button-pink {
    background-color: var(--light-pink);
    border: 1px solid var(--light-pink);
  }
  .primary-button-white {
    background-color: var(--light-color);
    border: 1px solid var(--light-pink);
    color: var(--light-pink);
  }
  .secondary-button-grey {
    background-color: var(--lighter-grey);
    border: 1px solid var(--lighter-grey);
    color: var(--secondary-color);
  }
  .secondary-button-light {
    background-color: var(--light-color);
    border: 1px solid var(--secondary-color);
    color: var(--secondary-color);
  }
  .large-button {
    padding: 0.8rem 1rem;
  }
  .small-button {
    font-size: 0.8rem;
    border-radius: 0.7rem;
    padding: 0.2rem 0.5rem;
    
  }
  i{
      cursor: pointer;
  }
  .floating-button {
    gap: 3rem;
    font-size: 3.5rem;
    color: var(--light-pink);
  }
  .links-container{
    display: flex;
   flex-wrap: wrap;
  }
  .link {
    padding: 0.5rem 1rem;
    border-radius: 2rem;
    margin:0 1rem 1rem 0;
    cursor: pointer;
  }
  .link-primary{
      background-color:var(--light-pink);
      color:var(--light-color);
  }
  .link-secondary{
      background-color:var(--mild-pink);
      border:2px solid var(--light-pink);
      color:var(--light-pink);
  }
  .link-outline{
      background-color:var(--light-color);
      color:var(--light-pink);
  }
  
  