.modal-container{
    max-width: 35rem;
    padding:1rem;
    overflow: auto;
    padding: 0 1.5rem;
    box-sizing: border-box;
    background-color:var(--dark-blue);
    color:var(--light-color);
    display: flex;
    flex-direction: column;
    justify-content: center;    
}
.modal-content-container{
    text-align: center;
    padding:0 2rem;
}

.modal-cross-icon{
    font-size: 1.5rem;
    margin-left: auto;
    padding-top:1rem;
    background-color: transparent;
    color:var(--light-color);
    border:none;
}

.modal-button{
    padding:0.5rem;
    font-size: 1rem;
    border-radius:0.2rem;
    border:none;
    cursor:pointer;
}